*{
    padding: 0;
    margin: 0;
   
}

body,html{
    height: 100%;
    width: 100%;
    background:linear-gradient(45deg,rgb(114, 183, 206),rgb(78, 73, 227));
    box-sizing: border-box;
}

.nav{
    color: aliceblue;
    text-align: end;
    display: flex;
    justify-content: end;
    gap: 40px;
    margin-right: 40%; 
    
}

#box1,#box2,#box3{
    padding: 120px;
    margin: 25px;
    background: rgb(176, 221, 92);
    width: 25%;
   
}

.container{
    position: relative;
    display: flex;
    
}

